<!--<ul>-->
    <!--<li ng-repeat="value in values"></li>-->
<!--  </ul>-->

<center><h1>Staples</h1></center>
    <center>
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="enter a pantry item" ng-model="newItem.NameOfItem"/> 
            <input type="date" class="form-control" placeholder="enter date purchased" ng-model="newItem.DateOfPurchase"/>
            <input type="date" class="form-control" placeholder="enter expiration date" ng-model="newItem.ExpirationDate" />
            <input class="btn btn-primary" type="submit" value="Submit" ng-click="submitToPantryList()"/>
        </form>
    </center>




<!--<form action="/action_page.php">
    Birthday:
    <input type="date" name="bday">
    <input type="submit">
</form>-->