
<!--//value in values-->

<!--<div class="container" ng-repeat="food in ItemsModels">
<ul class="list-group">
        <li class="list-group-item">
            {{food.NameOfItem}} / {{food.DateOfPurchase}} / {{food.DateOfPurchase}}
            <button type="button" class="btn-btn-primary btn pull-right btn-danger btn-sm" ng-click="deleteFoodItems(food.Id)">Delete</button>
            <button type="button" class="btn-btn-primary btn pull-right btn-success btn-sm">Purchase</button>
        </li>
    </ul>
     </div>-->

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Date of Purchase</th>
                <th>Expiration Date</th>
            </tr>
        </thead>
        <tbody ng-repeat="food in ItemsModels">
            <tr>
                <td>{{food.NameOfItem}}</td>
                <td>{{food.DateOfPurchase}}</td>
                <td>{{food.DateOfPurchase}}</td>
                <td><button type="button" class="btn btn-primary btn-success">Purchase</button></td> 
               <!-- href to "purchase" https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=-->
                <td><button type="button" class="btn btn-primary btn-danger" ng-click="deleteFoodItems(food.Id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!--<table class="table table-hover">
    <thead>
        <tr>
            <th>Button</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button type="button" class="btn btn-primary">button</button></td>
        </tr>
    </tbody>
</table>-->
