<!--<center>
    <form class="form-inline">
        <input type="text" class="form-control" id="username" placeholder="Enter a username" ng-model="username" />
        <input type="password" class="form-control" id="password" placeholder="Enter a password" ng-model="password" />
        <button class="btn-default" ng-click="login()">Sign In</button>
    </form>
        <a href="#!/signup">Sign Up!</a>
    
</center>-->



<div class="container-fluid">
    <form class="register-form">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-4">
                <label for="email">EMAIL</label>
                <input name="email" class="form-control" type="email" ng-model="username"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-4">
                <label for="password">PASSWORD</label>
                <input name="password" class="form-control" type="password" ng-model="password"/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-lg-offset-4">
                <button class="btn btn-default logbutton" ng-click="login()">Login</button>
                <a href="#!/signup" class="btn btn-default regbutton">Register Now</a>
            </div>
        </div>
        <br/>
    </form>
</div>