
<!--<div>
    <input type="text" id="username" placeholder="Email" ng-model="Email" />
    <input type="password" id="password" placeholder="Password" ng-model="Password" />
    <input type="password" id="password" placeholder="Confirm Password" ng-model="ConfirmPassword" />
    <input type="button" value="Sign up" class="btn-default" ng-click="signup()" />
</div>-->

<div class="container-fluid">
    <form class="register-form">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-4">
                <label for="email">EMAIL</label>
                <input type="text" id="username" class="form-control" ng-model="Email" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-4">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" class="form-control" ng-model="Password" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-lg-offset-4">
                <label for="confirmpassword">CONFIRM PASSWORD</label>
                <input type="password" id="password" class="form-control" ng-model="ConfirmPassword" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-lg-offset-4">
                <button class="btn btn-default logbutton" ng-click="signup()">LOGIN</button>
            </div>
        </div>
    </form>
</div>
